.roboto-mono{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
/* width */
::-webkit-scrollbar {
width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.542); 
border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(145, 145, 145); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(191, 191, 191); 
}

*{
box-sizing: border-box;
}

body{
overflow-x: hidden;
min-height: 500px;
height: auto;
margin: 0;
background-color: rgb(88, 88, 88);
}

.boton1{
    width: 200px;
}

.show{
    width: 1800px;
    font-family: "Roboto mono";
    height: 500px;
    margin-bottom: 30px;
    background-color: rgb(63, 63, 63);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
    border-width: 2px;
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.445);
}

.current{
    width: 1800px;
    font-family: "Roboto mono";
    height: 500px;
    margin-bottom: 30px;
    background-color: rgb(63, 63, 63);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
    border-width: 2px;
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.445);
}

.bac{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 400px;
    height: 40px;

    background-color: rgb(255, 255, 255);
}

.textoavance{
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    position: absolute;
    top: 3px;
    font-size: 25px;
    right: 150px;
}

.bam{
    position: absolute;
    left: 0px;
    width: 0px;
    height: 40px;

    background-color: rgb(114, 123, 255);

}

.control{
    position: absolute;
    z-index: 1000;
}

.open_dir{

    width: 100px;
    background-color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 3px 3px 3px 2px rgba(255, 255, 255, 0.705), inset -3px -3px 3px 3px rgba(0, 0, 0, 0.596);
}

.scan_dir{
    width: 100px;
    background-color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 3px 3px 3px 2px rgba(255, 255, 255, 0.705), inset -3px -3px 3px 3px rgba(0, 0, 0, 0.596);
}

.entradas{
    display: none;
}

.boton1{
    display: none;
}

.boton2{
    display: none;
}

.boton3{
    display: none;
}

.file-label{
    cursor: pointer;
}

.print_scan{
    width: 100px;
    background-color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 3px 3px 3px 2px rgba(255, 255, 255, 0.705), inset -3px -3px 3px 3px rgba(0, 0, 0, 0.596);
}

.copy_scan{
    width: 100px;
    background-color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 3px 3px 3px 2px rgba(255, 255, 255, 0.705), inset -3px -3px 3px 3px rgba(0, 0, 0, 0.596);
}

.informe1{
    font-family: "Roboto Mono", monospace;
    color: white;
    position: relative;
    font-size: larger;
    bottom: 40px;
    left: 30px;
    min-width: 600px;
    background-color: rgb(48, 48, 48);
    padding: 9px;
    margin: 15px;
    border-radius: 8px;
}

.informe2{
    font-family: "Roboto Mono", monospace;
    color: white;
    position: relative;
    font-size: larger;
    bottom: 40px;
    left: 30px;
    width: 1000px;
    background-color: rgb(48, 48, 48);
    padding: 9px;
    margin: 15px;
    border-radius: 8px;
}

.realtime1{
    color: rgb(119, 221, 36);
    position: absolute;
    left: 90px;
}

.realtime2{
    color: rgb(119, 221, 36);
    position: absolute;
    right: 680px;
}

.realtime3{
    color: rgb(119, 221, 36);
    position: absolute;
    right: 570px;
}

.realtime4{
    color: rgb(119, 221, 36);
    position: absolute;
    right: 450px;
}

.realtime5{
    color: rgb(119, 221, 36);
    position: absolute;
    right: 350px;
}

.realtime6{
    color: rgb(119, 221, 36);
    position: absolute;
    right: 90px;
}

.complete{
    color: rgb(201, 201, 201);
}
